body {
    margin: 0;
    max-width: 1920px;
    font-family: 'Raleway', sans-serif;
}

.header {

    .welcomeSection {
        background-image: url(img/header_fon.jpg);
        height: 1116px;

        .welcomeSection-header {
            padding: 80px 10% 0 10%;
            display: flex;
            align-items: center;
            justify-content: space-between;


            .menu {
                display: flex;
                align-items: center;
                background-color: transparent;

                h1 {
                    font-size: 24px;
                    letter-spacing: 3px;
                    color: #ededed;
                    font-family: "Raleway";
                    font-weight: 600;
                    text-align: center;
                }

                img {
                    height: 19px;
                }
            }

        }

        .menu-headline {
            display: grid;
            justify-content: end;
            grid-template-rows: 1fr 2fr;
            margin: 330px 10% 0 0;

            .menu-headline_name {
                font-size: 48px;
                letter-spacing: 6px;
                color: #ededed;
                font-family: "Raleway";
                font-weight: 800;
                text-align: right;
                text-transform: uppercase;
            }

            .menu-headline_text {
                font-size: 24px;
                letter-spacing: 3px;
                line-height: 40px;
                color: #ededed;
                font-family: "DejaVu Sans";
                font-weight: 400;
                text-align: right;
                width: 404px;
                padding-left: 220px;
            }
        }

        .mouseIcon {

            display: flex;
            justify-content: center;
            margin-top: 236px;
        }
    }
}

.wheels {
    font-size: 30px;
    letter-spacing: 4px;
    color: #ededed;
    font-family: "Raleway";
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}


.stickyMenu {
    background-color: #fff;
    height: 84px;
    z-index: 1000;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12rem 0 12rem;
    box-shadow: 0px 14px 27px -14px #cccccc;

    .wheels {
        color: #1c1c1c;
    }
}

.nav {
    ul {
        list-style: none;
        display: flex;

        li {
            padding: 0 2rem 0 2rem;
            font-size: 18px;
            letter-spacing: 2px;
            font-family: "Raleway";
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
        }

        a {
            text-decoration: none;
            color: #3b3b3b;
        }

        a:hover {
            color: #000000;
        }
    }
}

.aboutUs {
    width: 100%;
    display: grid;
    grid-template-rows: 70px 100px 60px;
    justify-items: center;
    align-items: center;
    background-color: #fff;
    height: 324px;
    padding-top: 60px;

    img {
        width: 88px;
    }

    .text {
        max-width: 1396px;
        max-height: 65px;
        letter-spacing: -0.015em;
        font-size: 14px;
        color: #3b3b3b;
        font-family: "Raleway";
        font-weight: 600;

        p {
            height: 65px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            padding: 0 30px;
        }
    }
}

.namePart {
    .name {
        font-size: 30px;
        letter-spacing: 4px;
        color: #1d1d1d;
        font-family: "Raleway";
        font-weight: 800;
        line-height: 2em;
        text-align: center;
        text-transform: uppercase;
    }

    .nameText {
        font-size: 18px;
        letter-spacing: 2px;
        color: #3b3b3b;
        font-family: "Raleway";
        font-weight: 600;
        text-align: center;
    }
}




.someStatistics {
    background-image: url(img/bikes_statistic.jpg);
    height: 457px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.someStatistics_text {
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    height: 340px;


    .name {
        color: #ededed;
    }

    .nameText {
        color: #ededed;
    }
}



.statistic {
    display: flex;
    width: 1120px;

    .bikes,
    .year,
    .customers {
        display: grid;
        width: calc(100% / 3);
        grid-template-rows: 5fr 3fr;
        justify-content: center;
        align-items: flex-start;

        .statistic_number {
            font-size: 72px;
            letter-spacing: 9px;
            color: #ededed;
            font-family: "Raleway";
            font-weight: 600;
            text-align: center;
            line-height: 1.25em;
        }

        .statistic_name {
            font-size: 24px;
            color: #ededed;
            font-family: "Raleway";
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            width: 240px;
        }
    }
}

.featuredProducts {
    background-color: white;
    height: 1055px;
    display: grid;
    align-content: space-around;

    .catalog {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        row-gap: 36px;
        column-gap: 10px;
        height: 832px;
        justify-items: center;
        margin: -50px 12% 0 12%;
        overflow-y: hidden;
    }
}

.catalog_product {
    display: grid;

    .catalog_product-text {
        display: grid;
        justify-content: center;
    }
}

.catalog_product-name,
.catalog_product-price {
    font-size: 24px;
    letter-spacing: 3px;
    color: #3b3b3b;
    font-family: "Raleway";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.catalog_product-more {
    font-size: 18px;
    letter-spacing: 2px;
    padding-top: 20px;
    font-family: "Raleway";
    font-weight: 600;
    text-align: center;

    a {
        color: #3b3b3b;
        ;
    }

    a:hover {
        color: #000000;
        font-weight: 800;
    }

    a:visited {
        color: darkgreen;
    }
}

.meetTheTeam {
    background-color: lightgray;
    height: 530px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.meetTheTeam-content {
    display: grid;
    justify-content: center;
    /*align-items: center;*/
    grid-template-rows: 2fr 5fr;
}

.meetTheTeam_peoples {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*justify-content: space-between;*/
    text-align: center;
    column-gap: 13.5vw;
    /*max-width: 1187px;*/
}

.meetTheTeam_people_name {
    font-size: 30px;
    letter-spacing: 4px;
    color: #1e1e1e;
    font-family: "Raleway";
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
}

.meetTheTeam_people_position {
    font-size: 18px;
    letter-spacing: 2px;
    color: #1e1e1e;
    font-family: "Raleway";
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}


.socialShowcase {
    background-color: lightgreen;
    height: 708px;
}

.footer {
    background-color: black;
    height: 527px;
}