* {
  user-select: none;
}
*,
::after,
::before {
  box-sizing: unset;
}
body {
  margin: 0;
  max-width: 1920px;
  font-family: 'Raleway', sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.wheels {
  font-size: 30px;
  letter-spacing: 4px;
  color: #ededed;
  font-family: "Raleway";
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
.header .welcomeSection {
  background-image: url(img/header_fon.jpg);
  height: 1080px;
}
@media (max-width: 375px) {
  .header .welcomeSection {
    background-color: black;
    background-image: none;
    height: 667px;
  }
}
.header .welcomeSection .welcomeSection-header {
  padding: 80px 10% 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .welcomeSection .welcomeSection-header .menu {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.header .welcomeSection .welcomeSection-header .menu .btn {
  font-size: 24px;
  letter-spacing: 3px;
  color: #ededed;
  font-family: "Raleway";
  font-weight: 600;
  text-align: center;
  border: none;
  background-color: transparent;
}
.header .welcomeSection .welcomeSection-header .menu .btn:hover {
  border: none;
}
.header .welcomeSection .welcomeSection-header .menu .btn:focus {
  box-shadow: none;
}
.header .welcomeSection .welcomeSection-header .menu .show {
  background-color: transparent;
}
.header .welcomeSection .welcomeSection-header .menu img {
  height: 19px;
}
.header .welcomeSection .welcomeSection-header .menu .dropdown-item {
  text-transform: uppercase;
  color: #ededed;
}
.header .welcomeSection .welcomeSection-header .menu .dropdown-item:hover {
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
  /*transform: scale(1.1);*/
}
.header .welcomeSection .welcomeSection-header .menu .dropdown-toggle::after {
  content: unset;
}
.header .welcomeSection .menu-headline {
  display: grid;
  justify-content: end;
  grid-template-rows: 1fr 2fr;
  margin: 330px 10% 0 0;
}
@media (max-width: 375px) {
  .header .welcomeSection .menu-headline {
    margin: 220px 10% 0 0;
  }
}
.header .welcomeSection .menu-headline .menu-headline_name {
  font-size: 48px;
  letter-spacing: 6px;
  color: #ededed;
  font-family: "Raleway";
  font-weight: 800;
  text-align: right;
  text-transform: uppercase;
}
@media (max-width: 375px) {
  .header .welcomeSection .menu-headline .menu-headline_name {
    font-size: 16px;
  }
}
.header .welcomeSection .menu-headline .menu-headline_text {
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 40px;
  color: #ededed;
  font-family: "Raleway";
  font-weight: 400;
  text-align: right;
  width: 404px;
  padding-left: 220px;
}
@media (max-width: 375px) {
  .header .welcomeSection .menu-headline .menu-headline_text {
    font-size: 12px;
    line-height: 2em;
    width: 200px;
  }
}
.header .welcomeSection .mouseIcon {
  display: flex;
  justify-content: center;
  margin-top: 286px;
}
@media (max-width: 375px) {
  .header .welcomeSection .mouseIcon {
    margin-top: 80px;
  }
}
.stickyMenu {
  background-color: #fff;
  height: 84px;
  z-index: 1000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
  box-shadow: 0px 14px 27px -14px #cccccc;
}
@media (max-width: 375px) {
  .stickyMenu {
    display: none;
  }
}
.stickyMenu .wheels {
  color: #1c1c1c;
}
.stickyMenu .nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}
@media (max-width: 375px) {
  .stickyMenu .nav ul {
    display: grid;
  }
}
.stickyMenu .nav ul li {
  padding: 0 1.5rem 0 1.5rem;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Raleway";
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  .stickyMenu .nav ul li {
    font-size: 14px;
    padding: 0 1rem 0 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .stickyMenu .nav ul li {
    font-size: 12px;
    padding: 0 0.7rem 0 0.7rem;
    letter-spacing: 0.025em;
  }
}
.stickyMenu .nav ul a {
  text-decoration: none;
  color: #3b3b3b;
}
.stickyMenu .nav ul a:hover {
  color: #000000;
}
.aboutUs {
  width: 100%;
  display: grid;
  grid-template-rows: 70px 100px 60px;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  height: 324px;
  padding-top: 60px;
}
@media (max-width: 375px) {
  .aboutUs {
    background-color: lightgray;
  }
}
.aboutUs img {
  width: 88px;
}
.aboutUs .text {
  max-width: 1396px;
  max-height: 65px;
  letter-spacing: -0.015em;
  font-size: 14px;
  color: #3b3b3b;
  font-family: "Raleway";
  font-weight: 600;
}
.aboutUs .text p {
  height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0 30px;
}
.namePart .name {
  font-size: 30px;
  letter-spacing: 4px;
  color: #1d1d1d;
  font-family: "Raleway";
  font-weight: 800;
  line-height: 2em;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 375px) {
  .namePart .name {
    font-size: 24px;
  }
}
.namePart .nameText {
  font-size: 18px;
  letter-spacing: 2px;
  color: #3b3b3b;
  font-family: "Raleway";
  font-weight: 600;
  text-align: center;
}
@media (max-width: 375px) {
  .namePart .nameText {
    font-size: 16px;
  }
}
.someStatistics {
  background-image: url(img/bikes_statistic.jpg);
  height: 457px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  .someStatistics {
    display: none;
  }
}
.someStatistics .someStatistics_text {
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  height: 340px;
}
.someStatistics .someStatistics_text .name {
  color: #ededed;
}
.someStatistics .someStatistics_text .nameText {
  color: #ededed;
}
.someStatistics .someStatistics_text .statistic {
  display: flex;
  width: 1120px;
}
.someStatistics .someStatistics_text .statistic .bikes,
.someStatistics .someStatistics_text .statistic .year,
.someStatistics .someStatistics_text .statistic .customers {
  display: grid;
  width: calc(100% / 3);
  grid-template-rows: 5fr 3fr;
  justify-content: center;
  align-items: flex-start;
}
.someStatistics .someStatistics_text .statistic .bikes .statistic_number,
.someStatistics .someStatistics_text .statistic .year .statistic_number,
.someStatistics .someStatistics_text .statistic .customers .statistic_number {
  font-size: 72px;
  letter-spacing: 9px;
  color: #ededed;
  font-family: "Raleway";
  font-weight: 600;
  text-align: center;
  line-height: 1.25em;
}
.someStatistics .someStatistics_text .statistic .bikes .statistic_name,
.someStatistics .someStatistics_text .statistic .year .statistic_name,
.someStatistics .someStatistics_text .statistic .customers .statistic_name {
  font-size: 24px;
  color: #ededed;
  font-family: "Raleway";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  width: 240px;
}
.featuredProducts {
  background-color: white;
  height: 980px;
  display: grid;
  align-content: space-around;
}
.featuredProducts .catalog {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 36px;
  column-gap: 10px;
  height: 900px;
  justify-items: center;
  margin: -50px 11% 0 11%;
  overflow-y: hidden;
}
@media (max-width: 375px) {
  .featuredProducts .catalog img {
    width: 270px;
  }
}
.featuredProducts .catalog .catalog_product {
  display: grid;
}
.featuredProducts .catalog .catalog_product .catalog_product-text {
  display: grid;
  justify-content: center;
}
.featuredProducts .catalog .catalog_product .catalog_product-text .catalog_product-name,
.featuredProducts .catalog .catalog_product .catalog_product-text .catalog_product-price {
  font-size: 24px;
  letter-spacing: 3px;
  color: #3b3b3b;
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.featuredProducts .catalog .catalog_product .catalog_product-text .catalog_product-more {
  font-size: 18px;
  letter-spacing: 2px;
  padding-top: 20px;
  font-family: "Raleway";
  font-weight: 600;
  text-align: center;
}
@media (max-width: 375px) {
  .featuredProducts .catalog .catalog_product .catalog_product-text .catalog_product-more {
    padding: 0;
  }
}
.featuredProducts .catalog .catalog_product .catalog_product-text .catalog_product-more a {
  color: #3b3b3b;
}
.featuredProducts .catalog .catalog_product .catalog_product-text .catalog_product-more a:hover {
  color: #000000;
  font-weight: 800;
}
.featuredProducts .catalog .catalog_product .catalog_product-text .catalog_product-more a:visited {
  color: darkgreen;
}
@media only screen and (max-width: 1600px) {
  .featuredProducts {
    height: 1480px;
  }
  .featuredProducts .catalog {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 1320px;
  }
}
@media only screen and (max-width: 1050px) {
  .featuredProducts {
    height: 1480px;
  }
  .featuredProducts .catalog {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
    height: 1320px;
  }
}
.meetTheTeam {
  background-color: lightgray;
  height: 530px;
  display: grid;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  .meetTheTeam {
    height: 800px;
  }
}
.meetTheTeam .meetTheTeam-content {
  display: grid;
  justify-content: center;
  grid-template-rows: 2fr 5fr;
}
@media (max-width: 375px) {
  .meetTheTeam .meetTheTeam-content {
    grid-template-rows: 1fr 8fr;
  }
}
.meetTheTeam .meetTheTeam-content .namePart {
  width: 70vw;
}
@media (max-width: 375px) {
  .meetTheTeam .meetTheTeam-content .namePart {
    width: 100%;
  }
}
.meetTheTeam .meetTheTeam-content .meetTheTeam_peoples {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  max-width: 1187px;
}
@media (max-width: 375px) {
  .meetTheTeam .meetTheTeam-content .meetTheTeam_peoples {
    display: grid;
    justify-content: center;
  }
  .meetTheTeam .meetTheTeam-content .meetTheTeam_peoples img {
    width: 150px;
  }
  .meetTheTeam .meetTheTeam-content .meetTheTeam_peoples .meetTheTeam_people {
    display: grid;
    justify-items: center;
    margin-bottom: 30px;
  }
}
.meetTheTeam .meetTheTeam-content .meetTheTeam_peoples .meetTheTeam_people_name {
  font-size: 30px;
  letter-spacing: 4px;
  color: #1e1e1e;
  font-family: "Raleway";
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
}
@media (max-width: 375px) {
  .meetTheTeam .meetTheTeam-content .meetTheTeam_peoples .meetTheTeam_people_name {
    padding: 0;
    font-size: 24px;
  }
}
.meetTheTeam .meetTheTeam-content .meetTheTeam_peoples .meetTheTeam_people_position {
  font-size: 18px;
  letter-spacing: 2px;
  color: #1e1e1e;
  font-family: "Raleway";
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 375px) {
  .meetTheTeam .meetTheTeam-content .meetTheTeam_peoples .meetTheTeam_people_position {
    font-size: 14px;
  }
}
.socialShowcase {
  height: 628px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
@media only screen and (max-width: 1200px) {
  .socialShowcase {
    height: 1013px;
  }
}
.socialShowcase a {
  color: #3b3b3b;
}
@media (max-width: 375px) {
  .socialShowcase {
    height: 1740px;
  }
  .socialShowcase .namePart {
    display: grid;
    width: 320px;
    justify-self: center;
  }
}
.socialShowcase .socialShowcase_pict {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1600px) {
  .socialShowcase .socialShowcase_pict {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 1155px;
    height: 385px;
    justify-self: center;
    overflow-y: hidden;
  }
}
@media only screen and (max-width: 1200px) {
  .socialShowcase .socialShowcase_pict {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 772px;
    height: 770px;
    justify-self: center;
    overflow-y: hidden;
  }
}
@media (max-width: 375px) {
  .socialShowcase .socialShowcase_pict {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 386px;
    height: 1540px;
    justify-items: center;
    align-items: center;
    overflow-y: hidden;
  }
  .socialShowcase .socialShowcase_pict img {
    width: 350px;
  }
}
.socialShowcase .socialShowcase_text {
  font-size: 24px;
  letter-spacing: 3px;
  color: #3b3b3b;
  font-family: "Raleway";
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
.socialShowcase .socialShowcase_text a {
  text-decoration: underline;
}
.footer {
  display: grid;
  background-color: black;
  height: 527px;
  justify-self: center;
}
@media (max-width: 375px) {
  .footer {
    justify-content: center;
    height: 1000px;
  }
}
.footer .wheels {
  padding-top: 55px;
  padding-bottom: 50px;
}
.footer .footer_links {
  display: flex;
  width: 70%;
  justify-content: space-between;
  justify-self: center;
}
@media only screen and (max-width: 1600px) {
  .footer .footer_links {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  .footer .footer_links {
    width: 85%;
  }
}
@media only screen and (max-width: 992px) {
  .footer .footer_links {
    width: 90%;
  }
}
@media (max-width: 375px) {
  .footer .footer_links {
    display: grid;
    justify-items: center;
    width: 100%;
  }
  .footer .footer_links .footer_links_col {
    display: grid;
    justify-items: center;
    margin-bottom: 50px;
  }
  .footer .footer_links .footer_links_col-menu {
    display: grid;
    justify-items: center;
  }
}
.footer .footer_links .footer_links_col-name {
  font-size: 18px;
  letter-spacing: 2px;
  color: #ededed;
  font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 10px;
}
@media only screen and (max-width: 1200px) {
  .footer .footer_links .footer_links_col-name {
    font-size: 1em;
  }
}
.footer .footer_links .footer_links_col-menu {
  list-style-type: none;
  padding: 0;
}
.footer .footer_links .footer_links_col-menu li {
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 2em;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  .footer .footer_links .footer_links_col-menu li {
    font-size: 0.8em;
  }
}
.footer .footer_links .footer_links_col-menu a {
  text-decoration: none;
  color: #ededed;
}
.footer .footer_links .footer_links_col-menu a:hover {
  color: gray;
}
.footer .footer_links .footer_links_col-social {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.footer .footer_links .footer_links_col-social li {
  padding: 0 5px;
}
.footer .footer_links .footer_links_col-social img {
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 1200px) {
  .footer .footer_links .footer_links_col-social img {
    width: 20px;
    height: 20px;
  }
}
.footer .footer_links .footer_links_col-social img:hover {
  transform: scale(1.25);
}
