body {
    margin: 0;
    max-width: 1920px;
    font-family: 'Raleway', sans-serif;
}

.header {

    .welcomeSection {
        background-image: url(img/header_fon.jpg);
        height: 1116px;

        .welcomeSection-header {
            padding: 5% 10% 0 10%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .wheels {
                font-size: 30px;
                letter-spacing: 4px;
                color: #ededed;
                font-family: "Raleway";
                font-weight: 800;
                text-align: center;
                text-transform: uppercase;
            }

            .menu {
                display: flex;
                align-items: center;
                background-color: transparent;

                h1 {
                    font-size: 24px;
                    letter-spacing: 3px;
                    color: #ededed;
                    font-family: "Raleway";
                    font-weight: 600;
                    text-align: center;
                }

                img {
                    height: 19px;
                }
            }

        }

        .menu-headline {
            display: grid;
            justify-content: end;
            grid-template-rows: 1fr 2fr;
            margin: 330px 10% 0 0;

            .menu-headline_name {
                font-size: 48px;
                letter-spacing: 6px;
                color: #ededed;
                font-family: "Raleway";
                font-weight: 800;
                text-align: right;
                text-transform: uppercase;
            }

            .menu-headline_text {
                font-size: 24px;
                letter-spacing: 3px;
                line-height: 40px;
                color: #ededed;
                font-family: "DejaVu Sans";
                font-weight: 400;
                text-align: right;
                width: 404px;
                padding-left: 220px;
            }
        }
        .mouseIcon {

            display: flex;
            justify-content: center;
            margin-top: 236px;
        }
    }

    .menu {
        background-color: #fff;
        height: 84px;
    }
}

.aboutUs {
    background-color: #cccccc;
    height: 324px;
}

.someStatistics {
    background-color: red;
    height: 457px;
}

.featuredProducts {
    background-color: green;
    height: 1055px;
}

.meetTheTeam {
    background-color: lightgray;
    height: 530px;
}

.socialShowcase {
    background-color: lightgreen;
    height: 708px;
}

.footer {
    background-color: black;
    height: 527px;
}